<h1>Listing risk_classes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for risk_class in @risk_classes %>
  <tr>
    <td><%=h risk_class.name %></td>
    <td><%= link_to 'Show', risk_class %></td>
    <td><%= link_to 'Edit', edit_risk_class_path(risk_class) %></td>
    <td><%= link_to 'Destroy', risk_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New risk_class', new_risk_class_path %>
