<h1>New risk_class</h1>

<% form_for(@risk_class) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :credit_color %><br />
    <%= f.text_field :credit_color %>
  </p>
  <p>
    <%= f.label :debit_color %><br />
    <%= f.text_field :debit_color %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', risk_classes_path %>
