<p>
  <b>Name:</b>
  <%=h @risk_class.name %>
</p>

<p>
  <b>Credit Color:</b>
  <%=h @risk_class.credit_color %>
</p>

<p>
  <b>Debit Color:</b>
  <%=h @risk_class.debit_color %>
</p>


<%= link_to 'Edit', edit_risk_class_path(@risk_class) %> |
<%= link_to 'Back', risk_classes_path %>
