<p>
  <%= link_to "Edit entries...", entries_path %> |
  <%= link_to "Edit accounts...", accounts_path %> |
  <%= link_to "Edit account classes...", account_classes_path %> |
  <%= link_to "Edit entry types...", entry_types_path %> |
  <%= link_to "Edit risk classes...", risk_classes_path %>
</p>

<div id="asset-growth-chart" style="padding-bottom:20px">
  <img src="<%=h asset_growth_chart_url(@all_time_balances_dataset) %>" />
</div>
<div id="balances-by-risk-class-chart" style="padding-bottom:20px">
  <img src="<%=h balances_by_risk_class_chart_url(@balances_dataset, @balances_colors) %>" />
</div>
<div id="future-payments-chart" style="float:left">
  <img src="<%=h future_payments_chart_url(@future_payments_dataset) %>" />
</div>
<div id="balances-by-account-class-chart">
  <img src="<%=h balances_by_account_class_chart_url(@account_class_dataset, @account_class_colors) %>" />
</div>
