<h1>Editing account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :liability %><br />
    <%= f.check_box :liability %>
  </p>
  <p>
    <%= f.label :show_balance_as_future_payment %><br />
    <%= f.check_box :show_balance_as_future_payment %>
  </p>
  <p>
    <%= f.label :risk_class_id %><br />
    <%= f.select :risk_class_id, RiskClass.all.collect {|r| [r.name, r.id]}%>
  </p>
  <p>
    <%= f.label :account_class_id %><br />
    <%= f.select :account_class_id, AccountClass.all.collect {|r| [r.name, r.id]}%>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
