<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Liability</th>
    <th>Show as future payment?</th>
    <th>Risk class</th>
    <th>Notes</th>
  </tr>

<% for account in @accounts %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.liability %></td>
    <td><%=h account.show_balance_as_future_payment %></td>
    <td><%=h account.risk_class_id %></td>
    <td><%=h account.notes %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
