<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Liability:</b>
  <%=h @account.liability %>
</p>

<p>
  <b>Show balance as future payment?:</b>
  <%=h @account.show_balance_as_future_payment %>
</p>

<p>
  <b>Risk class:</b>
  <%=h @account.risk_class && @account.risk_class.name %>
</p>

<p>
  <b>Account class:</b>
  <%=h @account.account_class && @account.account_class.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @account.notes %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
